<div class="ui text container">
    <p>Hey Atrium!</p>
    <p> My name is Sashank, and this is my take on the Atrium coding challenge. I hope you like it!</p>
    <h3>How it works:</h3>
    <p>There are two sides to this application:</p>
    <ul>
        <li>the <b>dashboard</b>, where you can view files and upload new ones</li>
        <li>and the <b>API</b>, where you can query details about files in your account </li>
    </ul>
    <h3>1) The dashboard:</h3>
    <p>To use the <b>dashboard</b> side, simply go to the top right hand corner, and click <b> Login</b>.</p>
    <p>There is already an account with several files uploaded:</p>
    <div class="ui segment">
        <b>Email</b>:
        <div class="ui label">chris@atriumlts.com</div>
        <b>Password</b>:
        <div class="ui label">chris123!</div>
    </div>
    <p>Feel free to create a new account, and upload files to that account as well.</p>
    <h3>2) The API side:</h3>
    <p>To use the <b>API</b> side, first <b> Login</b>, and then go to <b>Account Settings</b> (which can be accessed in the dropdown in the top right corner after you login)</p>

    <p>There, you can generate an <b>API Key</b>, and then view the <a href="/documentation">documentation</a> for more info.</p>
</div>
